.onekkoste{
    color: blue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;
}
p{
    color:rgb(135, 13, 142) ; text-align: center;
}